body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.autoList {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  width: 240px;
  padding: 10px 0;
  border: 1px solid #ccc;
  z-index: 1;
}

.autoList-item:hover {
  background: #ddd;
  color: #fff;
}

.container {
  width: 1070px;
  margin: 0 auto;
}

.pre {
  margin: 0;
  padding: 10px 15px;
  height: 400px;
  overflow-y: auto;
  background-color: #eee;
}

.debug{
  float:right;
  width:500px;
}
